@font-face {
  font-family: "Fortnite";
  src: url("./fonts/fortnitebattlefest.ttf");
}

body {
  margin: 0;
  font-family: "Fortnite", "sans-serif";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e8e8e8 !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

